.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

mat-slider {
  width: 300px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center
}
.card-search{
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 #cecece;
}
.center{
  text-align: center;
  background-position: center center;
  padding-top: 13px;
}
.card-search .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}
.card-search .card-body {
  padding: 2rem;
}
.form-search {
  width: 100%;
}

.form-search .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group input {
  height:40px;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  width: 8cm;
  font-size: 100%;
  color: #777;
  }

.btn-cancel{
  color: rgb(0, 0, 0);
  background-color:#c4c4c4;
  width: 5cm;
  height: 0.4cm;

}
.btn-createac{
  color: rgb(255, 255, 255);
  background-color:#800000;
  width: 5cm;
  height: 0.4cm;

}


.left{
  text-align: left;
}
.picleft{
  float : left;
}
.righttextdata{
  float: right;
}

.rightLogo{
  margin-right: 2cm;
  margin-top: -10cm;
  margin-left: -10cm;
}
.textsign{
  text-align:left;
  font-size: 0.35cm;
}
.btn-cancel:hover{
  background-color:#8d8d8d;
}
.btn-createac:hover{
  background-color:#460000;
}
.font-head{
  color: #777;
}
::placeholder{
  color: #e9152a;
  font-size: 90%;
}

.description{
  border-radius: 0.5rem;
  height: 2.5cm;
  text-align: top;
}

.findage{
  margin-top: 0.5cm;
  margin-left: 1.8cm;
}
.findheight{
  margin-top: 0.5cm;
  margin-left: 3.6cm;
}
.findgender{
  margin-top: 0.8cm;
  margin-left: 1.8cm;
}
.findtype{
  margin-top: 0.8cm;
  margin-left: 1.8cm;
}
.findprovince{
  margin-top: 0.5cm;
  margin-left: 4.4cm;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 7cm;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.topicsearch {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px #96c2fe;
  padding: 0.2em 0.5em;
  color: #454545;
  }
