<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
<!-------------------------------------navigator bar--------------------------->

<div class="container-fluid flex-wrap flex-md-nowrap margin-nav">
  <img src ="assets/img/Logo.png" width="210px" height="190px">

  <div class="pull-right">
    <ul style="margin-top: 1.5cm;">
      <section>
        <div class="example-button-row">

          <div class="example-flex-container">
            <div class="example-button-container" [hidden]="roleAccount" >
              <button mat-fab class="color1"   (click)="openDialoglike()" aria-label="Example icon button with a delete icon">
                <mat-icon>thumb_up </mat-icon>
              </button>
            </div>
            <div class="example-button-container" [hidden]="roleAccount"  >
              <button mat-fab class="color2" (click)="openDialogchat()" aria-label="Example icon button with a delete icon">
                <mat-icon>question_answer </mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab class="color1"   [routerLink]="['/main']" aria-label="Example icon button with a delete icon">
                <mat-icon>home </mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab  class="color4"  [matMenuTriggerFor]="menu" aria-hidden="true" aria-label="Example icon button with a bookmark icon">
                <mat-icon>person</mat-icon>
                <mat-menu style="padding-bottom: 0px;" #menu="matMenu">
                  <button mat-menu-item  [routerLink]="['/profile']">
                    <mat-icon><span class="material-icons-outlined">manage_accounts</span></mat-icon> Profile
                  </button>
                  <button mat-menu-item  [routerLink]="['/editpassword']">
                    <mat-icon><span class="material-icons-outlined">lock_open
                    </span></mat-icon>Change password
                  </button>
                  <button mat-menu-item  (click)="Deleteaccount()" >
                    <mat-icon> <span class="material-icons-outlined">
                      person_remove
                      </span></mat-icon>Delete account
                  </button>
                  <button mat-menu-item *ngIf="roleAccount"[routerLink]="['/list-account']">
                    <mat-icon> <span class="material-icons-outlined">
                      people_outline
                      </span></mat-icon>Manage user accounts
                  </button>
                  <button mat-menu-item  (click)="logout()">
                    <mat-icon> <span class="material-icons-outlined">
                      logout
                      </span></mat-icon>Logout
                  </button>
                </mat-menu>
              </button>
            </div>
            <!-- <div class="example-button-container">
              <button mat-fab class="color3" [matMenuTriggerFor]="animals" aria-label="Example icon button with a home icon">
                <mat-icon>logout</mat-icon>
                <mat-menu #animals="matMenu">
                  <button mat-menu-item (click)="logout()">
                    Log out</button>
                </mat-menu>
              </button>
            </div> -->
          </div>
        </div>
      </section>
   </ul>
 </div>
 </div>
    <!-- ---------------------------------------Grid------------------------------- -->
    <div id="grid">
      <div id="areaA">
        <div class="center">
        </div>
      </div>

<!-----------------------------------------Grid-------------------------------  -->

              <!-- <div id="grid" > -->

               <div id="areaB">
                <div class="card card-signin ">
                  <div class="card-body">
                <div class="font-top">Change Password</div>
                   <br> <br> <br>
                    <div class="mar">

                      <form [formGroup]="oldpassword">
                      <div class="row g-3 align-items-center">
                        <div class="col-2">

                          <label for="inputPassword6" class="col-form-label">Old Password</label>
                        </div>
                        <div class="col-sm-5">
                          <input type="password" formControlName="password" id="oldpassword" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto ">
                          <span id="passwordHelpInline" class="form-text">
                            <mat-icon class="color" *ngIf="oldpassword.valid">check</mat-icon>&nbsp;
                            Must be 6-20 characters long.
                          </span>
                        </div>
                      </div>
                    <br><br>
                  </form>

                  <form [formGroup]="newpassword">
                    <div class="row g-3 align-items-center">
                      <div class="col-2">
                        <label for="inputPassword6"  class="col-form-label">New Password</label>
                      </div>
                      <div class="col-sm-5">
                        <input type="password" formControlName="password"  id="newpassword" class="form-control" aria-describedby="passwordHelpInline">
                      </div>
                      <div class="col-auto ">
                        <span id="passwordHelpInline" class="form-text">
                          <mat-icon class="color" *ngIf="newpassword.valid">check</mat-icon>&nbsp;
                          Must be 6-20 characters long
                          <!-- <mat-icon class="color" *ngIf="newpassword.invalid"> clear</mat-icon> -->
                        </span>
                      </div>
                    </div>
                    <br><br>
                  </form>

                  <form [formGroup]="confirmpassword">
                    <div class="row g-3 align-items-center">
                      <div class="col-2">
                        <label for="inputPassword6" class="col-form-label">Confirm New Password</label>
                      </div>
                      <div class="col-sm-5">
                        <input type="password" formControlName="password"  id="confirmpassword" class="form-control" aria-describedby="passwordHelpInline">
                      </div>
                      <div class="col-auto ">
                        <span id="passwordHelpInline" class="form-text">
                          <mat-icon class="color" *ngIf="confirmpassword.valid">check</mat-icon>&nbsp;
                          Must be 6-20 characters long.
                        </span>
                      </div>
                    </div>
                    <br><br>
                  </form>


                </div>
                      <div class="arearight">
                      <button mat-button (click)="onclickeditPassword()"class="btn btn-lg btn-add save" type="submit" >
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button> &nbsp; &nbsp;
                      </div>

                 </div>
                 </div>
               </div>


                <!-- </div> -->
