<div class="container">
  <div class="card card-signin">
    <div class="card-body">
      <img src ="assets/img/Logo.png" width="230px" height="210px">
      <br><br>
        <div class="form-group">
          <div class="Forgot-password">change password </div><br>
          <form  [formGroup]="changepass">
            <input type="password" id="inputEmail" formControlName="password"  name="password" placeholder="รหัสผ่านใหม่"  class="form-control label-in">
            <!-- <mat-icon class="color" *ngIf="changepass.valid">check</mat-icon>&nbsp; -->

          </form>
        </div><br>
        <form [formGroup]="confirmpass">
          <input type="password" id="confirmpass"   formControlName="confirmpass" name="confirmpass" placeholder="ยืนยันรหัสผ่านใหม่"  class="form-control label-in">
          <!-- <mat-icon class="color" *ngIf="confirmpass.valid">check</mat-icon>&nbsp; -->
        </form><br>
        <!-- <div class="validation-error"  *ngIf="changepass.invalid && confirmpass.invalid">รหัสผ่านจำเป็นต้องมี 6- 20 ตัวอักษร</div> -->
          <!-- <mat-icon class="color" *ngIf="changepass.valid">check</mat-icon>&nbsp; --><div class="validation">รหัสผ่านจำเป็นต้องมี 6- 20 ตัวอักษร</div><br><br>
        <div class="validation-error" *ngIf="submitted == false">รหัสผ่านไม่ถูกต้อง</div>
            <button class="btn btn-lg  btn-in btn-block btn-in"  (click)="changepassword()" type="submit">ยืนยัน</button>
            <p class="Forgot-password">cancel?
              <a [routerLink]="['/forgot']" class="f-w-400">Click</a>
          </p>
    </div>
  </div>
</div>
