<div class="container">
  <div align="right">
    <img src ="assets/img/Logo.png" width="300px" height="300px" >
  </div>
  <div class="center">
      <div class="card card-signin">
        <div class="card-body">

          <!-- <div style="width: 20%; height: 20%;"  [froalaEditor]="froalaOptions" >hhhhhhhhhhhhhh</div> -->
          <form [formGroup]="account2" autocomplete="on"class="form-signin">
               <!-- todo UPLOAD IMAGE -->
               <div class="p-col">
                <label class="hoverable" for="fileInput">
                  <!-- <img class="imagesProfile" class="circle profile-pic" [src]="imagesProfile2" /> -->
                    <img class="circle"
                        [src]="imagesProfile ? imagesProfile : 'https://i.pinimg.com/originals/04/7d/fc/047dfc2552d91ae45f5c5362e71f4e43.gif'">
                    <div *ngIf="!!imagesProfile" class="hover-text show">Click to choose file</div>
                    <div *ngIf="!!imagesProfile" class="background show"></div>
                    <div class="hover-text">Click to choose file</div>
                    <div class="background"></div>
                </label>
                <br />
                <input #myInputImg id="fileInput" type="file"
                    keyup="changeListenerFileImages($event)"
                    (change)="changeListenerFileImages($event)">
              </div>

            <!-- <div class="form-label-group"></div>
            <h3 class="font-head" style="color: #42403c; margin: 2.5cm;">pic</h3>
            <br> -->

          <!-- <h1>-----------------------------------------------------------------------------------------------</h1> -->
          <br><div class="row g-3 align-items-cente">

            <div class="col-auto" >
              <mat-form-field appearance="outline" style="width: 6.8cm;">
                <mat-select disableRipple style="height: 0.2cm;" placeholder="type*"  formControlName="type" >
                  <mat-option value="Friend"> Friend </mat-option>
                  <mat-option value="Go on the date">Go on the date </mat-option>
                  <mat-option value="Hangout"> Hangout </mat-option>
                </mat-select>
              </mat-form-field>
              </div>


              <mat-form-field appearance="outline" style="width: 6.8cm;">
                <mat-select disableRipple style="height: 0.2cm "  placeholder="province*"  formControlName="province" >
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
              </mat-form-field>

              </div>
              <br>

          <div class="row">
            <br><div class="col-md-6">
            <div class="form-label-group">
              <mat-form-field appearance="legacy">
                <!-- <mat-label>Legacy form field</mat-label> -->
                <input matInput  type="text" placeholder="Facebook" formControlName="facebook" >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              </mat-form-field>
              <!-- <input type="text" class="form-control" placeholder="Facebook " id="facebook" formControlName="facebook"> -->
            </div></div>
            <br><div class="col-md-6">
            <div class="form-label-group">
              <mat-form-field appearance="legacy">
                <!-- <mat-label>Legacy form field</mat-label> -->
                <input matInput  type="text" placeholder="Line" formControlName="line" >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              </mat-form-field>
              <!-- <input type="text" class="form-control" placeholder="Line" id="line" formControlName="line"> -->
            </div>
            </div>
          </div>

          <br><div class="row">
            <br><div class="col-md-6">
            <div class="form-label-group">
              <mat-form-field appearance="legacy">
                <!-- <mat-label>Legacy form field</mat-label> -->
                <input matInput  type="text" placeholder="Instagram" formControlName="ig" >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              </mat-form-field>
              <!-- <input type="text" class="form-control" placeholder="ig " id="ig" formControlName="ig"> -->
            </div></div>
            <br><div class="col-md-6">
            <div class="form-label-group">
              <mat-form-field appearance="legacy">
                <!-- <mat-label>Legacy form field</mat-label> -->
                <input matInput  type="number" placeholder="Phone" formControlName="phone" >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              </mat-form-field>
              <!-- <input type="number" class="form-control" placeholder="Phone " id="phone" formControlName="phone"> -->
            </div>
            </div>
          </div>
          <br><br>
          <!-- <div class="validation-error" *ngIf="submitted == false" >อีเมลนี้มีผู้ใช้แล้ว</div> -->
          <div class="validation-error" *ngIf="submitted == false">This account already has a user.</div>
           <br><br>
           <button class="false"type="submit"(click)="onCancel()">Cancel</button> &nbsp;&nbsp;
           <button class="btn-add"type="submit"(click)="onSubmit()">Submit</button>


