/* ----------- โชว์คน ^---------- */
.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity:0.7;
}

.card img {
  transform: scale(1.0, 1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card-img-wrapper{
  overflow:hidden;
  position:flex;
  width: 200px;
  height: 200px;
}

.member-icons {
  position:absolute;
  bottom: -30%;
  top: 4cm;
  left:0;
  right: 0;
  margin-right: auto;
  margin-left:auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}
/* -------------------------------------------------------------------------- */

.cardmain {
  top: 1cm;
  left: 1.5cm;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(196, 48, 48, 0.125);
  border-radius: .25rem;
  width: 230px;
  margin-left: 1cm;
}

.iconchat{
  bottom: 2cm;
  right: 3cm;
  margin-top: -10cm;
  position: fixed;

}
.margintopic{
  margin-bottom: 1cm;
  /* margin-left: 0.8cm; */
  font-size: 0.5cm;
  /* font-family: 'Roboto Condensed', sans-serif; */
}
.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

::ng-deep .custom-dialog > mat-dialog-container {
  background-color: var(--background);
  opacity: 1;
  box-shadow: 0px 0px 0px 0px  rgba(255, 255, 255, 0.12);
}
::ng-deep .mat-menu-content{
  padding:0px !important;
}

::ng-deep .mat-menu-panel{
  padding:0px !important;
  min-height: 0px !important;
  border-radius: 0.8rem;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 200px;
}

.example-button-row .mat-button-base {
  margin: 6px 6px 6px 0;
}

.example-flex-container {
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.example-button-container {
  display: flex;
  justify-content: center;
  /* width: 120px; */
}
.mat-icon{
  font-size: 28px;
  text-align: center;
}
.color1{
  background-color: #E0BBE4;
}
.color2{
  background-color: #ca9dbb;
}
.color3{
  background-color: #957DAD;
}
.color4{
  background-color: #7b678f;
}
.cdk-overlay-dark-backdrop {
  background: rgb(0 0 0 / 92%);
}

.mat-icon:hover
{
  color: rgb(99, 69, 110);
}
/* .color1 .color2 .color3 .color button:hover{
  background-color: aqua;
} */
