
<div class="container">

  <div class="card card-signin">
    <div class="card-body">

      <img src ="assets/img/Logo.png" width="210px" height="190px">
      <form [formGroup]="formLogin"><br><br>

        <!-- <div style="width: 50%; height: 50%;" formControlName="picture"  [froalaEditor]="froalaOptions" ></div> -->
        <div class="form-group list-group">
            <input type="email" id="email" formControlName="username" placeholder="E-mail" class="form-control label-in" required><br>
            <input type="password" id="password" formControlName="password" class="form-control label-in" placeholder="password"required ><br>
            <label *ngIf="msgErr" class="validation-error">{{msgErr}}</label>
        </div>
            <button class="btn btn-lg  btn-in btn-block" id="submit" type="submit" (click)="onclickLogin()">Log in</button><br>
            <a [routerLink]="['/create-account']" class="f-w-400">Create Account</a>
            <p class="Forgot-password">Forgot password?
              <a [routerLink]="['/forgot']" class="f-w-400">Click</a>
          </p>
      </form>
    </div>
  </div>
</div>
