
<!-------------------------------------navigator bar--------------------------->
<nav class="navbar navbar-expand-lg navbar-light nav2">
  <div class="container-fluid margin-nav">
    <img src="/assets/img/ENTRONICA_LOGO.png" width="230" height="65">
       <div class="pull-right">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <i class="fa fa-user-circle-o fa-2x margin-bar" [matMenuTriggerFor]="menu" aria-hidden="true"></i>
          <mat-menu #menu="matMenu" >
            <button mat-menu-item [routerLink]="['/list-account']" >จัดการบัญชีผู้ใช้</button>
            <button mat-menu-item [routerLink]="['/editpassword']">เปลี่ยนรหัสผ่าน</button>
          </mat-menu>
      <i class="fa fa-sign-out fa-2x"[matMenuTriggerFor]="animals" aria-hidden="true"></i>
        <mat-menu #animals="matMenu">
          <button class="mat-menu-panel" mat-menu-item (click)="logout()">ออกจากระบบ</button>
        </mat-menu>
         </ul>
       </div>
   </div>
 </nav>
 <!-----------------------------------------Grid-------------------------------  -->
 <div id="grid">
   <div id="areaA">
     <div class="center">
       <div class="sidebar-container">
          <ul class="sidebar-navigation ">
            <li class="nav-item area-nav"><a  type="submit" (click)="onclickEmployee()">ข้อมูลพนักงาน</a></li>
            <li class="nav-item area-nav"><a  type="submit" (click)="onclickAsset()">ข้อมูลทรัพย์สิน</a></li>
            <li class="nav-item area-nav"><a  type="submit" (click)="onclickListManage()">การจัดการข้อมูล</a></li>
         </ul>
       </div>
    </div>
  </div>

  <div id="areaB">
    <div class="margin-TableAsEm">
    <b>จัดการบัญชีผู้ใช้</b></div><br>
    <div class="btn-group" role="group">
      <form [formGroup]="search" autocomplete="on">
          <mat-form-field appearance="outline" class="searchacc">
              <mat-label>ค้นหา</mat-label>
              <input  formControlName="searchText" (keyup)="doFilter($event.target.value)" matInput>
              <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
      </form>

        <div>
          <button class="reset" (click)="clearFilters()" type="reset">
          <b> &nbsp; Reset filter</b></button>
        </div>
      <div class="input-group"></div>
      <div class="input-group2">
        <button mat-button (click)="onclickcreateaccount()" class="btn btn-lg btn-add btn-block" type="submit">
          <i class="fa fa-plus fa-lg" aria-hidden="true" ></i><b>&nbsp;เพิ่มบัญชีผู้ใช้</b></button>
      </div>
   </div>

   <div class="mat-elevation">
    <div class="area">
    <mat-table  [dataSource]="dataSource" matSort>

 <!-- ID Column -->
 <ng-container matColumnDef="no">
   <mat-header-cell *matHeaderCellDef mat-sort-header>no </mat-header-cell>
   <mat-cell *matCellDef="let row; let i = index"> {{paginator.pageIndex * paginator.pageSize + i + 1}} </mat-cell>
 </ng-container>

 <!-- site Column -->
 <ng-container matColumnDef="username">
   <mat-header-cell *matHeaderCellDef mat-sort-header> username </mat-header-cell>
   <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
 </ng-container>

  <!-- updateDt Column -->
  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef mat-sort-header> firstname </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.firstname}} </mat-cell>
  </ng-container>

   <ng-container matColumnDef="lastname">
    <mat-header-cell *matHeaderCellDef mat-sort-header> lastname </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.lastname}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef mat-sort-header> role </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
  </ng-container>

 <!-- updateBy Column -->
 <ng-container matColumnDef="updateBy">
   <mat-header-cell *matHeaderCellDef mat-sort-header> updateBy </mat-header-cell>
   <mat-cell *matCellDef="let row"> {{row.updateBy}} </mat-cell>
 </ng-container>

 <ng-container matColumnDef="updateDt">
  <mat-header-cell *matHeaderCellDef mat-sort-header> updateDt </mat-header-cell>
  <mat-cell *matCellDef="let row"> {{row.updateDt | date:'dd/MM/yyyy,h:mm a'}} </mat-cell>
</ng-container>

 <!-- updateBy Column -->
 <ng-container matColumnDef="action">
   <mat-header-cell *matHeaderCellDef mat-sort-header> action </mat-header-cell>
   <mat-cell *matCellDef="let row">
     <div class="curMove">
       <i mat-button (click)="openDialogEdit(row)" class="fa fa-pencil-square-o fa-2x margin-nav" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
        <span><i (click)="clickdelete(row)" class="fa fa-trash-o fa-2x margin-nav" aria-hidden="true"></i></span>
     </div>
   </mat-cell>
 </ng-container>

 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
 <mat-row *matRowDef="let row; columns: displayedColumns;">
 </mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>

</div>



<div id="areac">
</div>
</div>
