<!-------------------------------------navigator bar--------------------------->

<div class="container-fluid flex-wrap flex-md-nowrap margin-nav">
  <img src ="assets/img/Logo.png" width="210px" height="190px" >
     <div class="pull-right">
        <ul style="margin-top: 1.5cm;">
          <section>
            <!-- <div>hover over me</div> -->
              <div class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container"[hidden]="roleAccount"   >
                  <button mat-fab class="color1"   (click)="openDialoglike()" aria-label="Example icon button with a delete icon" >
                    <mat-icon  matTooltip="Like" >thumb_up </mat-icon>
                  </button>
                </div>
                <div class="example-button-container"  [hidden]="roleAccount"  >
                  <button  mat-fab class="color2" (click)="openDialogchat()" aria-label="Example icon button with a delete icon">
                    <mat-icon matTooltip="Chat" >question_answer </mat-icon>
                  </button>
                </div>

                <div class="example-button-container">
                  <button mat-fab class="color3"  (click)="openDialogsearch()" aria-label="Example icon button with a delete icon">
                    <mat-icon   matTooltip="Search" >search </mat-icon>
                  </button>
                </div>
                <div class="example-button-container">

                  <button mat-fab  class="color4"  [matMenuTriggerFor]="menu" aria-hidden="true" aria-label="Example icon button with a bookmark icon">
                    <mat-icon  matTooltip="Manage Accounts">person</mat-icon>

                    <mat-menu style="padding-bottom: 0px;" #menu="matMenu" >
                      <button mat-menu-item disabled >
                        <img src={{this.picMe}} class="circle1">
                      </button>
                      <button mat-menu-item  [routerLink]="['/profile']">
                        <mat-icon><span class="material-icons-outlined">manage_accounts </span></mat-icon> Profile
                      </button>
                      <button mat-menu-item  [routerLink]="['/editpassword']">
                        <mat-icon><span class="material-icons-outlined">lock_open
                        </span></mat-icon>Change password
                      </button>
                      <button mat-menu-item  (click)="Deleteaccount()" >
                        <mat-icon> <span class="material-icons-outlined">
                          person_remove
                          </span></mat-icon>Delete account
                      </button>
                      <button mat-menu-item *ngIf="roleAccount"[routerLink]="['/list-account']">
                        <mat-icon> <span class="material-icons-outlined">
                          people_outline
                          </span></mat-icon>Manage user accounts
                      </button>
                      <button mat-menu-item  (click)="logout()">
                        <mat-icon> <span class="material-icons-outlined">
                          logout
                          </span></mat-icon>Logout
                      </button>
                    </mat-menu>
                  </button>
                </div>

              </div>
            </div>
          </section>
       </ul>
     </div>
 </div>

    <!-- ---------------------------------------Grid------------------------------- -->
    <div id="grid">
      <div id="areaA">
        <div class="center">

        </div>
      </div>


      <div id="areaB">
        <div class="margintopic">
          <button  class="btn-add" (click)="resetfilter()" aria-label="Example icon button with a delete icon">
            Reset Search
          </button>
        </div>
        <div class="row row-cols-lg-4">
 <div *ngFor="let item of dataProfile; let index = index">
          <div class="card mb-4">
            <div class="card-img-wrapper">
              <div *ngIf="item.picture !=null">
                 <img src="{{(item.picture)}}" class="card-img-top">
              </div>
              <div *ngIf="item.picture ==null || item.picture ==''">
                <img src="assets/img/user.png" class="card-img-top">
              </div>
              <ul class="list-inline member-icons animate text-center">
                <li class="list-inline-item"><button class="btn btn-danger" (click)="openDialogView(item)" ><i class="fa fa-user"></i></button></li>
                <li class="list-inline-item"><button class="btn btn-danger" (click)="like(item,item._id,index)" ><i class="fa fa-heart"></i></button></li>
                <li class="list-inline-item"><button class="btn btn-danger" (click)="unlike(item,index)" ><i class="fa fa-times"></i></button></li>
              </ul>
            </div>
              <div class="card-body p-1">
                <p class="card-text text-muted text-center"><b><i class="fa fa-user"></i>&nbsp; Name :  </b>{{item.nickname}} </p>
                <!-- <h6 text="text" class="card-title text-center mb-1"><i class="fa fa-user">Name</i>{{item.nickname}}</h6> -->
                <p class="card-text text-muted text-center"><b>Province :  </b>{{item.province}} </p>
                <p class="card-text text-muted text-center"><b>Age : </b>{{item.age}} </p>
                <p class="card-text text-muted text-center"><i class="fa fa-heart"> </i>&nbsp;{{item.type}}
              </div>
            </div>

          </div>




        </div>

      <!-- <div class="pagi">
              <mat-paginator
                            [length]="this.listpic"
                            [pageSize]="size"
                            [pageIndex]="page"
                            (page)="getData($event)">
              </mat-paginator>
              </div> -->
          <br><br>

