<div class="container">
  <div class="card card-signin">
    <div class="card-body">
      <img src ="assets/img/Logo.png" width="230px" height="210px">
      <br><br><br>
        <div class="form-group">
          <div class="Forgot-password">Forgot password </div><br><br>

          <form [formGroup]="whereUser">
            <input type="text" id="inputEmail" formControlName="username" name="email" placeholder="E-mail"  class="form-control label-in">
           </form>
          </div><br>
          <form [formGroup]="otp">
          <input type="text" id="otp" formControlName="otp" name="otp" placeholder="OTP" *ngIf="submitOtp == true"  class="form-control label-in">
        </form>
          <div class="validation-error" *ngIf="submitted == false" >Incorrect information</div>
            <button class="btn btn-lg  btn-in btn-block btn-in" *ngIf="submitOtp == false" type="submit" (click)="onclickchange()">Submit</button>
            <button class="btn btn-lg  btn-in btn-block btn-in" *ngIf="submitOtp == true" type="submit" (click)="onclickOtp()">Submit</button>
            <p class="Forgot-password">Login Again?
              <a [routerLink]="['/login']" class="f-w-400">Click</a>
          </p>

    </div>
  </div>
</div>
